html{
  box-sizing: border-box;
  font-family: 'Karla' sans-serif;
  font-size: 16px;
}

body{
  padding: 20px;
}



*, *:before, *:after{
  box-sizing: inherit;
}

.card{
  width: 600px;
  height: 400px;
  border-radius: 5px;
  box-shadow:2px 3px 7px 0px rgba(0,0,0,0.35);
  overflow: hidden;
  
  
}



.top-card{
  width: 100%;
  height: 45%;
  padding: 25px;
}

.top-card h3, h4, p{
   margin: 0;
}

.top-card h3{
  color: #2ab2af;
  margin-bottom: 15px;
  
  
}

.top-card h4{
  color: #c0df34;
  margin-bottom: 10px;
}

.top-card p{
  color: #98a6bd;
}


.bottom-card{
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: row;
  color: white;
}

.subscription, .why-us{
  width: 50%;
  height: 100%;
  padding: 25px;
}

.subscription{
  background-color: #2ab2af ;
 
}

.subscription h3{
  margin-bottom: 15px ;

  
}


.price, .price-month {
  display: inline-block;
  margin-bottom: 10px ;
  
}
.price-month {
  position: relative;
  top: -3px;
opacity: 0.7;  
  font-size:0.8rem;
  margin-left:5px;
}

.price{
  
  font-size: 1.4rem;
  font-weight: 700;
}

.full-access{
  font-size: 0.8rem;
  margin-bottom: 35px;
  opacity: 0.9;
}

button{
  text-align: center;
  border: none;
  background-color: #c0df34;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}

button:hover{
  cursor: pointer;
  background-color: #8CA426;
  transform: scale(1.02);
}

.why-us{
  background-color: #32D0CD;
  
}

.list{
  font-size: 0.9rem;
  opacity: 0.7;
}
